/* Palette de couleurs */
:root {
  --primary-blue: #26547C;
  --primary-pink: #EF476F;
  --primary-yellow: #FFD166;
  --white: #ffffff;
  --light-gray: #f9f9f9;
  --dark-gray: #333;
  --hover-gray: #f1f1f1;
}

/* Styles de base pour l'application */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff; /* Fond principal */
  color:#333; /* Texte principal */
}

/* Styles pour le conteneur principal */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .container {
    padding: 5px;
  }
}

/* Dashboard styles */
.dashboard {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: var(--white); /* Fond blanc */
  border-radius: 10px;
}

/* Titre principal Dashboard */
.dashboard h1 {
  font-size: 64px;
  font-family: 'Inknut Antiqua', serif;
  font-weight: regular;
  text-align: center;
  margin-bottom: 20px;
  color: #26547C; /* Texte bleu */
  margin-bottom: 20px;
}

/* Liste des checklists */
.checklist-list {
  list-style: none;
  padding: 0;
}

.checklist-item {
  background-color: #f9f9f9; /* Fond blanc cassé */
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checklist-item h2 {
  text-align: center; /* Centrer horizontalement */
  margin: 0 auto; /* Assurer un espacement égal */
  font-family: 'Itim', sans-serif; /* Correspond à votre style */
  font-size: 30px; /* Taille de la police */
  font-weight: regular;
  line-height: 1.2; /* Ajuster l'espacement vertical */
  color: #000000; /* Noir */
}

.checklist-item:hover {
  background-color: var(--primary-yellow);
  color:#000000;
}

.checklist-link {
  text-decoration: none;
  color: #000000; /* Texte noir */
}

.status {
  color: #ffd166; /* Jaune */
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.checklist-title {
  font-family: 'Itim', sans-serif;
  font-size: 24px;
  color: #000;
  text-align: left;
  margin-bottom: 10px;
}

.checklist-item:hover {
  background-color: inherit; /* Conserve la couleur de fond actuelle */
}


.task-progress {
  font-size: 14px;
  color: #26547C;
}

.task-progress .total-task {
  font-weight: bold;
  color: #000;
}

.actions {
  margin-top: 10px;
}

/* Boutons */
.button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-button {
    background-color: #FFD166; /* Jaune */
    color: #000000; /* Noir pour le texte */
    font-family: 'Inter', sans-serif; /* Police personnalisée */
    font-size: 36px;
    font-weight: regular;
    border: none;
    border-radius: 0; /* Pas de coins arrondis */
    width: 775px;
    height: 75px;
    text-align: center;
    line-height: 75px; /* Alignement vertical */
    cursor: pointer;
    display: inline-block;
    text-decoration: none; /* Enlève la ligne soulignée */
  }
  
  .actions {
    display: flex;
    justify-content: flex-end; /* Aligne les boutons à droite */
    gap: 10px; /* Ajoute un espace entre les boutons */
    margin-top: 20px; /* Crée de l'espace par rapport au contenu précédent */
  }
  
  .actions .button {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }

.edit-button {
  text-decoration: none; /* Supprime le soulignement */
  text-transform: uppercase; /* Met le texte en majuscule */
  color: #000000; /* Texte en noir */
  font-family: 'Inter', sans-serif; /* Police choisie */
  font-size: 16px; /* Ajustez selon vos besoins */
  font-weight: bold; /* Texte en gras */
  background-color: #26547C; /* Fond bleu */
  padding: 10px 20px; /* Ajustez selon vos besoins */
  cursor: pointer; /* Curseur en mode "pointer" */
}

.edit-button:hover {
  background-color: #003d66; /* Bleu plus foncé au survol */
}

.delete-button {
    text-transform: uppercase; /* Met en majuscule tout le texte */
    color: #000000; /* Texte en noir */
    font-family: 'Inter', sans-serif; /* Police choisie (ou celle utilisée dans le projet) */
    font-size: 16px; /* Ajustez selon vos besoins */

    background-color:#000000; /* Gardez ou changez la couleur de fond selon vos besoins */
    padding: 10px 20px; /* Ajustez selon vos besoins */
    cursor: pointer; /* Curseur en mode "pointer" pour montrer que c'est un bouton */
}
.delete-button:hover {
  background-color: #b20037; /* Rouge plus foncé au survol */
  color: #000000; /* Texte toujours noir */
}

@media (max-width: 768px) {
  .dashboard {
    padding: 10px;
  }

  .button {
    width: 100%;
    margin-bottom: 10px;
  }
}


/* Checklist details styles */



.checklist-details {
  
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.checklist-details h1 {
  font-size: 64px;
  font-family: 'Inknut Antiqua', serif;
  font-weight: regular;
  text-align: center;
  margin-bottom: 20px;
  color: #26547C; /* Texte bleu */
  margin-bottom: 20px;
}

.checklist-details h2 {
  text-align: center; /* Centrer horizontalement */
  margin: 0 auto; /* Assurer un espacement égal */
  font-family: 'Itim', sans-serif; /* Correspond à votre style */
  font-size: 30px; /* Taille de la police */
  font-weight: regular;
  line-height: 1.2; /* Ajuster l'espacement vertical */
  color: #000000; /* Noir */
}



.tasks-list {
  list-style: none;
  padding: 0;
}

.task-item {
  
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: var(--light-gray);
  cursor: pointer;
  transition: background-color 0.2s;
}

.task-item.completed {
  background-color: #F9F9F9;
}

.task-item:hover {
  background-color: var(--hover-gray);
}


.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color:#FFD166;
  color:#000000;
  text-decoration: none;
  border-radius: 5px;
}

.back-button:hover {
  background-color:#bd8e22;
}

/* Form styles */
.form {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: var(--white);
  border-radius: 10px;
  color: var(--dark-gray);
}

.form h1 {
  font-size: 64px;
  font-family: 'Inknut Antiqua', serif;
  font-weight: regular;
  text-align: center;
  margin-bottom: 20px;
  color: #26547C; /* Texte bleu */
  margin-bottom: 20px;
}

.form h2 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
  color:#26547C;
}

.form-input,
.form-textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.form-textarea {
  height: 100px;
}

.add-button {
  text-decoration: none; /* Supprime le soulignement */
  text-transform: uppercase; /* Met le texte en majuscule */
  color: #000000; /* Texte en noir */
  font-family: 'Inter', sans-serif; /* Police choisie */
  font-size: 16px; /* Ajustez selon vos besoins */
  font-weight: bold; /* Texte en gras */
  background-color: #FFD166; /* Fond bleu */
  padding: 10px 20px; /* Ajustez selon vos besoins */
  cursor: pointer; /* Curseur en mode "pointer" */
}


.save-button {
  text-decoration: none; /* Supprime le soulignement */
  text-transform: uppercase; /* Met le texte en majuscule */
  color: #000000; /* Texte en noir */
  font-family: 'Inter', sans-serif; /* Police choisie */
  font-size: 16px; /* Ajustez selon vos besoins */
  font-weight: bold; /* Texte en gras */
  background-color: #26547C; /* Fond bleu */
  padding: 10px 20px; /* Ajustez selon vos besoins */
  cursor: pointer; /* Curseur en mode "pointer" */
}


.delete-button {
  text-decoration: none; /* Supprime le soulignement */
  text-transform: uppercase; /* Met le texte en majuscule */
  color: #000000; /* Texte en noir */
  font-family: 'Inter', sans-serif; /* Police choisie */
  font-size: 16px; /* Ajustez selon vos besoins */
  font-weight: bold; /* Texte en gras */
  background-color: #EF476F; /* Fond bleu */
  padding: 10px 20px; /* Ajustez selon vos besoins */
  cursor: pointer; /* Curseur en mode "pointer" */
}


.back-button {
  text-decoration: none; /* Supprime le soulignement */
  text-transform: uppercase; /* Met le texte en majuscule */
  color: #26547C; /* Texte en noir */
  font-family: 'Inter', sans-serif; /* Police choisie */
  font-size: 16px; /* Ajustez selon vos besoins */
  font-weight: bold; /* Texte en gras */
  background-color: #FFD166; /* Fond bleu */
  padding: 10px 20px; /* Ajustez selon vos besoins */
  cursor: pointer; /* Curseur en mode "pointer" */
}

